@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/roman/helvetica-neue-roman.eot?') format('eot'), url('../fonts/roman/helvetica-neue-roman.woff2') format('woff2'), url('../fonts/roman/helvetica-neue-roman.woff') format('woff'), url('../fonts/roman/helvetica-neue-roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/bold/helvetica-neue-bold.eot?') format('eot'), url('../fonts/bold/helvetica-neue-bold.woff2') format('woff2'), url('../fonts/bold/helvetica-neue-bold.woff') format('woff'), url('../fonts/bold/helvetica-neue-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}



svg {
  vertical-align: middle;
}

.header-container {
  padding: 0 5rem;
}

.header-panel.shadow-z-2 {
    width: 100%;
    padding: 30px 0;
    margin: 20px 0 0;
    color: #fff;
    background: #313447;
}

.header-row {
  display: flex;
  justify-content: space-between;
}

.full{
  font-size: 16px;
  padding: 0;
}

.logo-icon {
  width: 22px;
  height: 22px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.logo-turner {
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 2px;
}

.row-content{
  vertical-align: top;
}

.row-picture {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.row-picture a img{
  border-radius: 20px;
}

.row-details {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}
.row-details .nameP{
  color: #f98823;
  margin: 4px 0 0 0;
  line-height: 20px;
  font-size: 16px;
}
.aboutImg{
  position: relative;
    top: -4px;
    margin: 0 6px 0 0;
    opacity: 0.6;
    transition: opacity 0.2s ease;
    height: 25px;
}
.nav__link{
  position: relative;
    text-decoration: none;
    padding: 6px 12px;
    font-size: 14px;
    transition: color 0.2s ease;
    color: rgb(249, 135, 39);
}
.nav__link:hover
{
  color: white;
  text-decoration: none;
}
.row-details span{
  font-size: 12px;
  color: rgba(255,255,255,0.8);
}

p.info {
  color: #fff;
}

p.info a {
  color: #fff;
  text-decoration: underline;
}

.full ul,.full ol {
  margin-left: 12px;
  background: #f6fbff;
  font-size: 13px;
  padding: 5px;
}

.full img{
  display: block;
  max-width: 100%;
  height: auto;
}

.social-icons {
  text-align: right;
}

.icon {
  text-align: center;
  line-height: 24px;
  font-size: 24px;
  color: white;
  display: inline-block;
  margin-left: 12px;
  opacity: 0.6;
}

.icon:hover .fa-stack-overflow, .icon:hover .fa-github {
  color: white;
}
.hideItem{
  font-size: 0px;
}

body .container .jumbotron-primary, body .container .well-primary, body .container-fluid .jumbotron-primary, body .container-fluid .well-primary{
  background-color: #26293a;
}

body {
  background-color: #26293a;

}

.page-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5rem;
}

.menu ul li {
  list-style: none;
  margin: 5px 0;
}

.menu ul li a:hover, .menu ul li a:focus, li.current-menu-item > a{
  background: white;
}

li.current-menu-item:before {
  content: "";
  display: inline-block;
  height: 55px;
  width: 5px;
  position: absolute;
  left: 9px;
  vertical-align: middle;
  background: #7cc7ff;
}

.menu ul li a {
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
  display: block;
  text-decoration: none;
  padding: 0 0 0 10px;
  color: #7cc7ff;
}

.home-subtitle {
  font-size: 26px;
  margin-bottom: 32px;
  margin-top: 5px;
  color: #01c87b;
  font-weight: 300;
}

h2.blog-title-pro{color: #fff;}

h2.blog-title-pro:after {
  content: "";
  display: block;
  width: 104px;
  height: 4px;
  margin-top: 16px;
  margin-left: 1px;
  background: rgb(90, 170, 250);
}

.project-link {
  background-color: transparent;
  text-decoration: none;
  float: right;
  margin-left: 2rem;
}

.card .card-image .card-image-headline-custom{
  position: absolute;
  margin-bottom: 0;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 5px 0 12px;
  color: #fff;
  font-size: 2em;
  background: -moz-linear-gradient(bottom,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 83%, rgba(0,0,0) 100%);
  background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 83%,rgba(0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0,0,0,0.9) 83%,rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.card .card-footer a {
  margin: 0 !important;
  position: relative;
  bottom: 25px;
  width: auto;
}

.filter-text {
  font-weight: 700;
  font-size: 12px;
}

#filters {
  margin: 0 0 25px 0;
}

.list-separator li > a i{
  width: 56px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 20px;
}

.error {
  color: #EF7272!important;
  font-size: 12px!important;
}

#portfolio-filter {
  margin-top: 50px;
}

.navbar-toggle i {
  color: #BCCCBF;
}
.menu .list-group-item-heading, .menu .list-group-item-text{
  color:#fff!important;
}
.aboutUsHome{
  text-align: center;
}
.aboutUsHome p{
  text-align: center;
}
.aboutUsHome h1{
  text-align: center;
}
#AbountInfo div{

}
.tutorialsButton{
  font-size: 15px;
  margin-right: 10px;
  background-color: #5596e6;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  color: #fff;
  margin-right: 24px;
  padding: 5px 20px;
}
.tutorialsButton:hover{
  color: #fff;  
  text-decoration: none;
}

.submitSample{
  color: #ffffff;
  font-size: 15px;
  background: none;
  border: none;
}
.submitSample:hover{
  color: #5596e6;  
  text-decoration: none;
}

footer {
  border-top: 1px solid #C5C0C0;
  width: 100%;
  height: 10px;
  margin-top: 10px;
  margin-bottom: 3em;
  padding-top: 10px;
  font-size: 13px;
  bottom: 0;
  padding-bottom: 10px;
  text-align: center;
  color: rgba(255,255,255,0.8);
}
i.fa.fa-heart {
  color: rgb(249, 135, 39);
}
.pager li.active a {
  background: rgba(89, 148, 129, 0.3);
}

.content.well {
  float: left;
}

.items-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.project-item {
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;
}

.TotHome {
  text-align: left;
  width: 100%;
  padding: 2rem 0rem 2rem 0rem;
  color: #5A6872;
  font-size: 14px;
  justify-content: space-between;
  display: flex;
}
.headerPanelL{
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 24px;
  margin: 0 0 25px;
}
.headerPanelR{
  display: flex;
}
img#IBM-icon-solutions{
  width: 35px;
  margin: 0 15px 0 0;
}
img#IBM-icon-solutions-inside{
  margin-left: -22px;
}

.search-body {
  width: 100%;
  margin-top: 1rem;
}

.search-body button {
  margin-bottom: 1rem;
}

.language.search-body button.tagFilter.btn.btn-sm {
  padding: 1px 10px;
  font-size: 11px;
  margin-right: 5px;
  border-bottom: none;
  border-radius: 10px;
  font-weight: normal;
  background: #eed3fe;
  color: #7c4f9e;
}

.language.search-body button.tagFilter.btn.btn-sm.active {
  background: #7c4f9e;
  color: #eed3fe;
  padding-right: 15px;
}

.language.search-body button.tagFilter.btn.btn-sm.active:after{
    position: absolute;
      top: 3px;
      bottom: 0;
      content: "\274c";
      font-size: 16px;
      color: #eed3fe;
      line-height: 100px;
      text-align: center;
      padding-left: 2px;
      content: '\d7';
}

.category.search-body button.tagFilter.btn.btn-sm.active:after{
    position: absolute;
    top: 3px;
    bottom: 0;
    content: "\274c";
    font-size: 16px;
    color: #aaf9e6;
    line-height: 100px;
    text-align: center;
    padding-left: 2px;
    content: '\d7';
}

span.tag-filter.category.ng-binding.active {
    background: #238070;
    color: #aaf9e6;
}

.category.search-body button.tagFilter.btn.btn-sm {
  padding: 1px 10px;
  font-size: 11px;
  margin-right: 5px;
  border-bottom: none;
  border-radius: 10px;
  font-weight: normal;
  background: #aaf9e6;
  color: #238070;
}
.category.search-body button.tagFilter.btn.btn-sm.clear {
  padding: 1px 10px;
  font-size: 11px;
  margin-right: 5px;
  border-bottom: none;
  border-radius: 10px;
  font-weight: normal;
  background: #ffffff;
  color: #238070;
}
button.tagFilter.btn.btn-sm.clear.active{
  background: #ffffff;
  color: #238070;
  padding-right: 15px;
  border-bottom: none;
  box-shadow: none;
}

.category.search-body button.tagFilter.btn.btn-sm.active{
  background: #238070;
  color: #aaf9e6;
  padding-right: 15px;
}

.project-content{
  font-size: 14px;
  color: rgba(0,0,0,0.75);
  margin-bottom: 10px;
}

.project-content.description {
  display: inline-block;
  height: 120px;
  overflow: hidden;
}

.tag-filter {
  padding: 3px 12px;
  font-size: 12px;
  margin-right: 1px;
  border-radius: 10px;
}

.tag-filter.language {
  background: #eed3fe;
  color: #7c4f9e;
  float: left;
  margin-bottom: 5px;
  margin-right: 2px;
  border-radius: 10px;
  padding: 2px 10px;
}
span.tag-filter.language.ng-binding.myLanguage {
    background: #7c4f9e;
    color: #eed3fe;
}

.tag-filter.category {
  background: #aaf9e6;
  color: #238070;
}
span.tag-filter.category.ng-binding.myCategory {
    background: #238070;
    color: #aaf9e6;
}

.services {
  font-size: 14px;
}

.project-outer {
  flex: 1;
  background: #fff;
  padding: 30px 30px 0;
  border-radius: 5px 5px 0 0;
}
.mostClicked{
  background: #8c9ba5;
  position: absolute;
  position: relative;
  float: right;
  margin-right: -15px;
  margin-top: -15px;
  color: #f5f7fa;
  padding: 2px 10px;
}

.tag-services {
  display: inline-block;
  height: 40px;
  overflow: hidden;
}

a.btn.btn-info.btn-raised.btn-sm.project-link {
  background-color: #0f212e;
  color: rgba(255,255,255,.84);
  border: none;
  border-radius: 1px;
}

.FirSpanLeft {
  display: block;
  width: 25%;
  color: #162935;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.content.well {
  padding: 10px;
}

.tag-level {
  background-color: #EBF0F7;
  padding: 10px;
  border-top: 1px solid #DFE6EB;
}

.gitHubIcon {
  float: right;
}

.tag-technologies span {
  color: #94a3ab;
}

.tag-level span, .tag-level a {
  color: rgba(255,255,255,0.7);
  font-size: 14px;
}
span.project-link.demo {
  float: left;
  margin-left: 0.5rem;
}

a.hrefLink {
  font-size: 14px;
}

.tag-holder {
  margin-bottom: 1.5rem;
}

.tag-holder span, .tag-holder a {
  color: #162935;
}

ul.list-separator.nav.navbar-nav.well.well-primary.default {
  width: 100%;
}

.error404 {
  color: #5596e6;
  margin-left: 30px;
}


.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #f5f7fa;
  border-radius: 3px 0 0 3px;
  color: #0f212e;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  margin-top: 5px;
  font-size:14px;
}

.tag::before {
  background: #0f212e;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #ffffff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #f5f7fa;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  color: white;
}

.tag:hover {
  background-color: #5596e6;
  color: white;
}

.tag:hover::after {
  border-left-color: #5596e6;
}
.tag::after:hover{
  border-left-color: #5596e6;
  border-left: 10px solid #5596e6;
}

.header-panel.shadow-z-2-banner{
  background: #5596e6;
  padding: 25px 0;
  position: relative;
  overflow: hidden;
}

.header-image {
  position: absolute;
  right: 0;
  top: -40px;
  width: 65%;
  display: none;
}


.header-panel.shadow-z-2-filter {
  background: #272a3b;
}

.form-group
{
  padding: 10px;
  padding: 15px 0px;
}

.form-group .form-control {
  margin-bottom: 0;
}

.form-group input
{
  background: #313447;
  padding: 10px;
  color: #313447;
  border-radius: 0px;
  border: 0;
  padding-left: 45px;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
}

.filter-row {
  padding: 9px 0;
  display: flex;
  justify-content: space-between;
}

.fil {
  flex: 1;
}

.search-input {
  margin-top: 0;
  font-size: 1rem;
  font-style: italic;
  color: #8C9BA5;
}

.search-input input {
  padding-left: 48px;
  background-image: url(../icons/search.svg);
  background-position: left;
  background-repeat: no-repeat;
}

.search-input input.active {
  padding-left: 48px;
  background-image: url(../icons/search.svg);
  background-position: left;
  background-repeat: no-repeat;
}
.search-input input:active {
  padding-left: 48px;
}
.form-control:focus{
  padding: 10px;
  color: white;
  font-size: 14px;

  padding-left: 48px;
  background-image: url(../icons/search.svg);
  background-position: left;
  background-repeat: no-repeat;
}




.dropdown {
  background: white;
  padding: 1.5rem;
  border: 1px solid #5596e6;
  margin: 20px auto 0 auto;
  max-width: 1440px;
  display: flex;
}
.dropdown2 {
  background: white;
  padding: 1.5rem;
  border: 1px solid #ebf0f7;
  margin: 20px auto 0 auto;
  max-width: 1440px;
  /*display: flex;*/
  display: none;
}

.dropdown::after {
  position: absolute;
  top: -0.4em;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-139deg);
  right: 3em;
  width: 0.9em;
  height: .73em;
  margin: 0 auto;
  content: '';
  background-color: inherit;
  border-bottom: 1px solid #5596e6;
  border-right: 1px solid #5596e6;
}

.language {
  margin-bottom: 1.5rem;
}

.inside.filter-category {
  flex-basis: 50%;
  margin-right: 3rem;
}

.inside01{
  flex-basis: 50%;
}






.header-panel.shadow-z-2-banner h1{
    font-weight: normal;
    color: white;
    font-size: 32px;
}

a#fliterButtonID:hover{
  text-decoration: none;
}


.link-title {
  color: #5184c3;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1rem;
}

ul.triggers {
  color: #00a6bc;
  list-style: none;
  font-size: 18px;
  width: 7em;
  margin-left: 7em;
}
ul.triggers li {
  cursor: pointer;
  background: url(//d12zt1n3pd4xhr.cloudfront.net/fp/img/fp5arrow.png) 0 2px no-repeat;
  padding-left: 24px;
  margin: 0.5ex 0;
}
ul.triggers li:hover {
  color: #111;
}

.boldItem{
  font-weight: bold;
}


.form-sorting{
  font-family: 'IBM Helvetica', Helvetica Neue, HelveticaNeue, Helvetica, sans-serif;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1rem 5rem 1rem 1rem;
  color: #152934;
  background-color: rgb(235, 240, 247);
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  /* font-weight: 600; */
  margin-right: 2rem;
  background-image: linear-gradient(45deg, transparent 50%, #152934 50%), linear-gradient(135deg, #152934 50%, transparent 50%), linear-gradient(to right, #ebf0f7, #ebf0f7);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;

}
.bx--select{
  padding: 15px 0px;
  position: relative;
  display: block;
}

.bx--global-light-ui .bx--select__arrow {
  fill: #3d70b2;
}
.bx--select__arrow {
  fill: #5aaafa;
  position: absolute;
  right: 3.35rem;
  top: 2.4rem;
  width: .75rem;
  height: 1.5rem;
  pointer-events: none;
}

.filterAreaDiv{
  display: flex;
}

a.featureSample {
  color: #eed3fe;
  font-size: 15px;
}

a.featureSampleMobile{
  display: none;
}
.containerContact{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin-top: 60px;
}
.contantIn{
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px;
  margin: 0px 0px 1.5em;
  padding: 1.5em 0.75em;
  border-top: 5px #5596e6 solid;
}

.RequestForm input[type="text"], .RequestForm input[type="email"], textarea{
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.0588235) 0px 1px 3px inset;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(222, 222, 222);
  border-image: initial;
  border-radius: 3px;
  padding: 0.5em;
  transition: border-color 0.2s ease;
}

.RequestForm input[type="text"], .RequestForm input[type="email"]{
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 16px 18px;
  background-position: 98% 50%;
  cursor: auto;
  margin-bottom: 15px;
  border-radius: 0px;
  background: #ebf0f7;
}

.RequestForm textarea{
  height: 220px;
  border-radius: 0px;
  background: #ebf0f7;
}
.subm {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  /* border-radius: 4px; */
  background: #5596e6;
  color: white;
}
.rowFooter{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 4rem;
}
.contactBack a{
  display: inline-block;
  padding: 6px 14px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  /* border-radius: 4px; */
  background: #5596e6;
  color: white;
  margin-bottom: 10px;
}
.contactBack a:hover{
  text-decoration: none;
}
.contact-title a:hover{
    text-decoration: none;
    border: none;
}

button.ng-isolate-scope{
  color: #ffffff;
  font-size: 15px;
  background: none;
  border: none;

}

button.ng-isolate-scope:hover{
  color: #5596e6;
}


/* Solutions wraper */
ul.items-wrapper.solutions li {
  height: 380px;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease;
  margin-right: 5px;
  flex: 0 0 30%;
}

ul.items-wrapper.solutions{
  display: flex;
  position: relative;
  transition: all 0.5s ease;
}
.resources__wrapper{
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
  position: relative;
  left: 0;
  overflow: auto;
}
.content{
  padding: 0;
  overflow-x: hidden;
}
.card__content{
  margin: 0;
  position: relative;
  z-index: 9998;
  background: #26293a;
}
.project-outer.solutions {
  flex: 1;
  background: #fff;
  padding: 5px 20px 0;
  border-radius: 5px 5px 0 0;
}
.tag-level.solutions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255,255,255,0.7);
  font-size: 14px;
  background: #313447;
  padding: 5px 20px 0;
  line-height: 50px;
  border-radius: 0 0 5px 5px;
}
.tag-level.solutions .project-link{
  margin-left: 0rem; 
}
/* END Solutions wraper */

/* Left and right buttons */
button.control-btn.control-btn{
  border: 0;
  border-radius: 5px;
  background-color: #3d4156;
  height: 35px;
  width: 40px;
  padding: 0;
  margin: 0 0 0 10px;
  float: right;
  cursor: pointer;
  transition: all 0.2s ease;
}
input, textarea, button, a {
  transition: 0.2s color ease,0.2s background ease;
}
.resources__count{
  margin-right: 5px;
  line-height: 35px;
  color: rgba(255,255,255,0.7);
}
.resources__count-current{
  font-family: 'tt-medium';
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}
/* END Left and right buttons */


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 767px) {
  .submitSample{
    display: none;
  }
  .header-container{
    padding: 0 15px;
  }
  .icon{
    margin-left: 4px;
  }
  .tutorialsButton{
    margin-right: 4px;
  }
  .page-container{
    padding: 0 10px;
  }
  a.survey .floating-feedback{
    display: none;
  }
}
@media (min-width: 600px) {
  .project-item {
    width: 49%;
    margin-right: 2%;
  }
}
@media (min-width: 600px) and (max-width: 970px) {
  .project-item:nth-child(2n+2) {
    margin-right: 0;
  }


}
@media (min-width: 970px) {
  .project-item {
    width: 31.33%;
    margin-right: 3%;
  }
  .project-item {
    height: 450px;
  }
}
@media (min-width: 970px) and (max-width: 1250px) {
  .project-item:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media (min-width: 825px) {
  .header-image {
    display: block;
  }
}
@media (min-width: 875px) {
  .language {
    margin-bottom: 0;
  }
}
@media (min-width: 990px) {
  .header-image {
    width: 60%;
  }
}
@media (min-width: 1250px) {
  .header-image {
    width: 50%;
  }

  .project-item {
    width: 22.75%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    height: 450px;
  }


  .project-item:nth-child(4n+1) {
    margin-left: 0;
  }

  .project-item:nth-child(4n+4) {
    margin-right: 0;
  }
}
@media (max-width: 768px) {

  button.ng-isolate-scope{
    font-size: 14px;
    padding-right: 0;
    margin-bottom: 2px;
    width: 100%;
    float: right;
    text-align: right;
  }
  .col-md-12.col-xs-12.footer {
    width: 100%;
  }
  #portfolio-filter {
    margin-top: 0px;
  }
  .col-md-1.col-sm-4.col-xs-12.filter{
    width: 30%;
  }
  .header-panel.shadow-z-2-banner h1{
    font-size: 25px;
  }
  .col-xs-12 {
    width: 70%;
  }
  .inside.col-md-6.col-xs-12 {
    width: 100%;
    margin-bottom: 15px;
  }
  .inside.col-md-12.col-xs-12.full {
    width: 100%;
  }
  .header01.col-md-3.col-sm-12.col-xs-12{
    width: 62%;

  }
  .header02.col-md-9.col-sm-12.col-xs-12{
    width: 38%;

  }

  .insde.col-md-12.col-sm-4.col-xs-12{
    width: 100%;
  }
  .ser.col-md-2.col-sm-4.col-xs-12.filter{
    width: 27%
  }

}
@media (min-width: 321px) and (max-width: 780px){
  a.survey .floating-feedback {
    position: fixed;
    top: calc((100% - 157px) / 2);
    left: 15px;
    width: 21px;
    height: 70px;
  }

  ul.list-separator.nav.navbar-nav.well.well-primary.default {
    width: auto;
  }
  .ser.col-md-2.col-sm-4.col-xs-12.filter {
    width: 30%;
  }
  .filter-row{
    display: block;
    padding: 0px;
  }
  .fil{
        margin-right: 0rem;
  }
  .ser.filter{
    width: 32%;
    float: right;
    margin-left: 3%;
  }
  .form-sorting{
    width: 100%;
  }
  .bx--select {
    padding: 15px 0px;
    position: relative;
    display: block;
    width: 65%;
  }
  .filterAreaDiv {
    display: flex;
    width: 100%;
  }
  .TotHome{
        padding: 2rem 0rem 2rem 1rem;
        text-align: center;
  }

}
@media (min-width: 781px) and (max-width: 1224px){
  .col-md-3 {
    width: 50%;
  }
  .header-panel.shadow-z-2-banner h1 {
    font-size: 25px;
  }
}
