<div class="page-container main outer">
    <div class="mainDisplayDisplay">
        <span class="mainHeaderPanelL">
            About me...
        </span>
        <p class="about__block_heding">Want to know more about me, well you are in the right space</p>
    </div>

    <div class="post-card__container post-card__container--back">
        <a href="./#!/" class="post-card__meta post-card__meta-link">
            <div class="post__card__tag">
                <img src="icons/goto.svg" alt="back to home">
            </div>Back to home
        </a>
    </div>

    <div class="about__content">
        <div class="about__left">
            <div class="about__block--image">
                <img src="img/meLarge2.jpg" alt="Twana Daniel">
            </div>

            <div class="about__block">
                    <p>
                        I'm Twana Daniel, a full-stack developer from Dublin, Ireland. Director or innovation at Dev Centre House (DCH).  My day to day, code most of the day and avoid meetings as much as possible. I love PHP, Node, and Angular and have deployed 100+ apps to Cloud Foundry, Kubernetes, and Virtual Servers in IBM Cloud Cloud and AWS. I published many blog articles in the IBM Cloud space.                     </p>
                    <p>
                        I have six years of experience in web and mobile development. Recently I have been doing a lot of work using PHP, Node.js, Angular, React.js, and Kubernetes.
                    </p>
                    <p>
                        I’ve been fortunate enough to travel the world speaking and teaching developers on best practices when using IBM Cloud services. Additionally, working with many large clients at Dev Centre House Ltd. I am good at building great teams.
                    <p>
                        Outside of my work with Dev Centre House Ltd, I spend much of my time learning new stuff all related to web development. I love learning. Lately, I am obsessed with reading personal development books, and I can't stop.                    </p>
                </div>
        </div>

        <div class="about__right">
                <div class="about__block">
                        <h2>Contact</h2>
                        <p>Want to ask a general question? Either
                            <a target="_blank" href="http://twitter.com/twanawebtech">tweet me</a> or use my
                            <a target="_blank" href="https://www.linkedin.com/in/twana-daniel/">Linkedin profile</a> for anything longer.</p>
                            <a target="_blank" href="https://devcentrehouse.eu/">Dev Centre House (DCH) Creating Enterprise Software, Web, & Mobile Apps.</a>
                        <p>I most likely will not respond to individual code queries due to the volume and time constraints, please
                            defer to StackOverflow for your help (sorry)!</p>
                        <p>To chat to me about something else such as speaking or workshop event, please email me:
                            <a href="mailto:twana@devcentrehouse.eu">twana@devcentrehouse.eu</a>.
                        </p>
                    </div>
        </div>
        </main>
    </div>