<div class="container">
    <article role="article" class="page card">
        <header class="post-header">
        </header>
        <div class="post-content about">
            <div class="aboutHead">
                <img class="author_img" src="./images/meS.jpeg">
                <h2>Twana Daniel</h2>
            </div>
            <article>
                <aside>
                    I am a full-stack developer working on technologies like Angular, React.js Node.js and PHP.
                    <br><br>
                    Currently, I am a Software Developer Advocate for IBM Bluemix, I’ve been fortunate enough to travel the world speaking and teaching developers on how to develop applications on the Cloud.
                    <br><br>
                    Outside of my work with IBM, I spend much of my time learning new stuff all related to software development.
                    Additionally I attend many hackathons, events and meetups, I like to share my knowledge and support others.
                    <br><br>

                    <h5>Areas that interest me the most</h5>
                    <ul class="aboutUI">
                        <li>IBM Bluemix</li>
                        <li>IBM Watson API's</li>
                        <li>{Angular.js} {React.js}</li>
                        <li>{Node.js} {PHP} {Swift}</li>
                        <li>Docker & kubernetes</li>
                        <li>Cloud Development & DevOps pipeline</li>
                        <li>Amazon Alexa and Google Echo</li>

                    </ul>
                </aside><br>


                <aside>
                    <h5>Articles</h5>
                </aside><br>


                <aside>
                    <h5>My Videos</h5>
                </aside><br>


            </article>

            </p>
        </div>
    </article>
</div>
