<div class="page-container main outer">
    <div class="mainDisplayDisplay">
        <span class="mainHeaderPanelL">
            About me...
        </span>
        <p class="about__block_heding">Want to know more about me, well you are in the right space</p>
    </div>

    <div class="post-card__container post-card__container--back">
        <a href="./#!/" class="post-card__meta post-card__meta-link">
            <div class="post__card__tag">
                <img src="icons/goto.svg" alt="back to home">
            </div>Back to home
        </a>
    </div>

    <div class="about__content">
        <div class="about__left">
            <div class="about__block--image">
                <img src="img/meLarge.jpg" alt="Twana Daniel">
            </div>

            <div class="about__block">
                    <p>
                        I'm Twana Daniel, a 27 year old full-stack developer from Dublin, Ireland. I like working in technologies like Angular, React.js
                        Node.js and PHP. And for my deployments, I love Cloud Foundry, Kubernetes, and Virtual Servers. I published
                        many blog articles covering these technologies at my
                        <a target="_blank" href="https://www.ibm.com/blogs/bluemix/author/twanaaziie-ibm-com/">IBM Blog page</a>.
                    </p>
                    <p>
                        I have six years plus experience in developing web and mobile applications. Recently I been doing a lot of work using Node.js,
                        Angular, React.js and Kubernetes.
                    </p>
                    <p>I’ve been fortunate enough to travel the world speaking and teaching developers on how to develop applications
                        on the Cloud. I love sharing my knowledge and helping others to make awesome apps. </p>
    
                    <p>
                        Outside of my work with IBM, I spend much of my time learning new stuff all related to software development. I just love
                        learning and picking up new cool tips and tricks for development. Lately, I got obsessed with reading
                        personal development books, and I just can't stop.
                        <br>
                        <br> Here is the list of books I read in 2016 & 2017.
    
                        <ul>
                            <li>Book 1</li>
                            <li>Book 2</li>
                        </ul>
                    </p>
    
                </div>


        </div>

        <div class="about__right">
                <div class="about__block">
                        <h2>Contact</h2>
                        <p>Want to ask a general question? Either
                            <a target="_blank" href="http://twitter.com/twanawebtech">tweet me</a> or use my
                            <a target="_blank" href="https://www.linkedin.com/in/twana-daniel/">Linkedin profile</a> for anything longer.</p>
                        <p>I most likely will not respond to individual code queries due to the volume and time constraints, please
                            defer to StackOverflow for your help (sorry)!</p>
                        <p>To chat to me about something else such as speaking or workshop event, please email me:
                            <a href="mailto:twanawebtech@gmail.com">twanawebtech@gmail.com</a>.
                        </p>
                    </div>
        </div>
        </main>
    </div>