<div class="sliding-panel-fade-screen"></div>
<div class="container">
    <section class="post-list">
        <article class="post">
            <header class="post-header">
                <h1 class="post-title">
                    Contact Me
                </h1>
                    <p>
                        Have a question you want to be answered? Is there something you would like me to write about on the blog? Just use the form below to reach out to me.

                        <br><br>
                        I can’t promise I will respond to every question, but I will try to either respond or post an entry to the blog relating to your inquiry.
                    </p>
            </header>

            <div class="formVal">
                <form name="myForm" ng-submit="sendMail()">
                    <input type="text" name="myName" ng-model="myName" placeholder="Name"><br>
                    <input type="email" name="myEmail" ng-model="myEmail" placeholder="Email *" required><br>
                    <input type="text" name="mySubject" ng-model="mySubject" placeholder="Subject *" required><br>
                    <textarea type="text" name="myDescription" ng-model="myDescription" placeholder="Description *" class="myDescription" required></textarea>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">Submit</button>
                        <div class="messageContact" ng-show="emailSent">
                            <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" class="alert">{{alert.msg}}</div>
                        </div>
                    </div>
                </form>
            </div>
        </article>
    </section>
</div>