<div class="container">
    <article role="article" class="page card">
        <header class="post-header">
            <h1 class="post-title">{{articleData.title}}</h1>
        </header>
        <div class="post-content">
            <!-- Check if article is at live state, if title is not there meaning that there was an error and will output full info -->
            <span class="error" ng-if="!articleData.title">
                {{articleData}}
            </span>
            {{articleData.date}}
            <br>

            <p>
                {{articleData.short_description}}
            </p>
            <br>

            <div class="googleAds">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({
                  google_ad_client: "ca-pub-4420492646195713",
                  enable_page_level_ads: true
                });
              </script>
            </div>


            <zero-md file="./app/posts/{{articleData.id}}.md">
                <!-- Remember to pass in empty container of class="md-html". -->
                <div class="md-html"></div>
            </zero-md>

            <hr>
            <aside id="comments" class="disqus">
                <div class="container">
                    <h3><i class="icon icon-comments-o"></i> Comments</h3>
                    <div class="disqus-comments">
                        <div id="disqus_thread"></div>
                        <script>

                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*
                             var disqus_config = function () {
                             this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                             this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                             };
                             */
                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');
                                s.src = 'https://t-daniel.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    </div>
                </div>
            </aside>
        </div>
    </article>
</div>
